# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
lib

# Debug log from npm
npm-debug.log

**/.DS_Store

# sourcemaps
src/**/*.js.map
lib/**/*.js.map

*.tgz